.AboutMe {
    color: white;
    margin: 5%;
    background-color: #2877b780;
    padding: 5%;
    border: 1px solid white;
    border-radius: 1em;
}

@media screen and (max-width: 812px) {
    .AboutMe {
        color: white;
        margin: 5%;
        background-color: #2877b780;
        padding: 5%;
        border: 1px solid white;
        border-radius: 1em;
    }
}


@media screen and (max-width: 450px){
    .AboutMe {
        color: white;
        margin: 5%;
        background-color: #2877b780;
        padding: 5%;
        border: 1px solid white;
        border-radius: 1em;
    }
   
}