.Main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12% 5% 5% 5%;
   
}
/* MY PHOTO */
.me {
    /* border: 1px solid #ddd; */
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 30%;
    /* margin-top: 150px; */
  }
.me:hover {
    box-shadow: 0 0 2px 1px red;
    opacity: .5;
  }
.whoIAm {
    color: white;
    font-size: 38px;
}
/* federico full stack dev and technologies section */
.centerItem {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.technologiesMain {
    margin-top: 3%;
    background-color:  #e93f33b3;
    padding: 1%;
    color: white;
    font-size: 18px;
    border-radius: 1em;
    width: 100%;
}

@media screen and (max-width: 812px) {

    .me {
        border: 1px solid white;
        border-radius: 50%;
        width: 30%;
        height: 40%;
        margin-left: 1%;
        margin-top: 4%;
      }
    .me:hover {
        box-shadow: 0 0 2px 1px red;
        opacity: .5;
      }
    .whoIAm {
        color: white;
        font-size: 20px;
    }

    .centerItem {
        margin-top: 7%;
        margin-left: 5%;
    }
    .technologiesMain {
        margin-top: 7%;
        background-color:  #E93F33;
        padding: 1%;
        color: white;
        font-size: 15px;
        border-radius: 1em;
        width: 100%;
    }

}

    
@media screen and (max-width: 450px) {

    .Main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 12% 5% 5% 5%;
       
    }
/* my picture */
.me {
    /* border: 1px solid #ddd; */
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 40%;
    margin-left: 30%;
  }
 

  /* my picture on hover */
.me:hover {
    box-shadow: 0 0 2px 1px red;
    opacity: .5;
  }
  /* name and occupation section */
.whoIAm {
    color: white;
    font-size: 18px;
}

.centerItem {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* technologies section */
.technologiesMain {
    margin-top: 3%;
    background-color:  #e93f33b3;
    padding: 1%;
    color: white;
    font-size: 12px;
    border-radius: 1em;
    width: 100%;
}

}