@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
.Projects {
    color: white;
    margin: 5%;
    font-family: 'Baloo Thambi 2, cursive;';
    text-align: center;
}
.imageContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white;
    background-color: #2877b799;
    padding: 1%;
    border-radius: 1em;
}
.images{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30%;
    height: 70%;
    margin-top: 2.5%;
}
.images:hover {
/* transform: scale(1.5); */
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.projectDetails {
    width: 100%;
}

body {
    font-family: 'Baloo Thambi 2, cursive;';
    text-align: center;
}
.projectLinks {
    text-align: start;
    color: black;
    
}
p {
    text-align: left;
}
@media screen and (max-width: 812px) {
    .images{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 60%;
        margin-top: 6.5%;
    }
    .projectDetails {
        width: 150%;
        padding: 2%;
    }
}
@media screen and (max-width: 450px) {
    .imageContainer {
        display: flex;
        flex-direction: column;
    }
    h3 {
        font-size: 18px;
    }
    .projectDetails {
        width: 100%;
        padding: 2%;
    }
    .projectDetails h5 {
        font-size: 18px;
    }
}