@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
.Projects {
    color: white;
    margin: 5%;
    font-family: 'Baloo Thambi 2, cursive;';
    text-align: center;
}
.imageContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white;
    background-color: rgb(40,119,183, .6);
    padding: 1%;
    border-radius: 1em;
}
.images{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30%;
    height: 70%;
    margin-top: 2.5%;
}

.projectDetails {
    width: 100%;
}


.flex-container {
    margin: 0 auto;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    width: 900px;
}

body {
    font-family: 'Baloo Thambi 2, cursive;';
    text-align: center;
}

#main-header {
    margin-top: 4%;
}
.images:hover {
    /* transform: scale(1.5); */
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.projects-paragraph {
    margin-top: 5%;
    background-color: rgb(28, 124, 227);
    padding: 2%;
    text-align: left;
    font-size: 19px;
}

/* .project-links {
    text-align: start;
    color: black;
    
} */
p {
    text-align: left;
}
.second-project {
    background-color: rgb(221, 215, 215);
    padding-top: 2%;
}