@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');
.Projects {
    color: white;
    margin: 5%;
    margin-bottom: 2%;
    font-family: 'Baloo Thambi 2, cursive;';
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.imageContainer {
    /* margin-top: 2%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid white; */
    background-color: #0b172fcc;
    padding: 1%;
    /* border-radius: 1em; */
    width: 32%;
}
.images{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 90%;
    height: 100%;
    /* margin-top: 2.5%; */
}
.images:hover {
/* transform: scale(1.5); */
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.projectDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    font-family: 'Baloo Thambi 2, cursive;';
    text-align: center;
}
.projectLinks {
    display: inline-block;    
}
p {
    text-align: left;
}
.imagenesDiv {
    width: 100%;
    height: 38%;
}

@media screen and (max-width: 812px) {
    .Projects {

        display: flex;
        flex-direction: row;
    }
    .imageContainer {
       width: 100%;
       margin: 0.5%;
    }
    .images {   
        width: 90%;
        height: 100%;
        margin-top: 1%;
    }
    .projectDetails h5 {
        margin-top: 5%;
        font-size: 16px;
    }
    .imagenesDiv {
        height: 100%;
        /* border: 1px solid red; */
    }
    .imagenCulera {
        margin-top: 0%;
        padding: 0;
    }
}
@media screen and (max-width: 450px) {
    .Projects {
        display: flex;
        flex-direction: column;
    }
    .imageContainer {
       width: 100%;
       margin-bottom: 2%;
    }
    .images {
        
        width: 90%;
        height: 100%;
        margin-top: 1%;
    }
   
}