
/* .navbar {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     font-size: 20px;
 } */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}